body {
    font-family: 'Poppins', sans-serif;
}

#nevacation_bur a {
    text-decoration: none;
    display: inline-block;
    text-align: right;
    padding: 14px 16px;
    margin-top: 10px;
    background-image: linear-gradient(#fde01d, #fcb045);
    margin: 0 7px;
    border-radius: 5px;
    color: white;

}

#nevacation_bur h1 {
    display: inline;


}

.icon {
    height: 30px;
    width: 30px;


}

#section h2 {
    text-align: center;
    margin-left: 10px;
}

#section h2 a {
    text-decoration: none;
    color: blue;
}

footer h2 a {
    text-decoration: none;
    padding-top: 30px;
    display: inline-block;
    color: gold;



}

footer {
    height: 100px;
    width: 100%;
    background-color: black;


}